.App {
  text-align: center;

}

/* Home.js */

.carousel-inner {
  width: 100%;
  max-height: 50rem;
  background-size: auto;
}

/* Tiervermittlung */

.card {
  width: 18rem;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

/* Admin.js */

.adminText {
  color: azure;
}
.adminPadding {
  padding-top: 2vh;
}

/*Navbar*/

.dropdown-menu {
  border-radius: 10vh, 10vh, 10vh, 10vh;
}

.navBack {
  background: rgba(115, 147, 252, 0.616);
}

.navText {
  color: azure;
}

.navText:hover {
  color:rgba(93, 130, 250, 0.692)
}

/* Footer */

.footBack {
  background-color: rgba(19, 22, 31, 0.616);
}
/* CSS HEX */
/* --spanish-blue: #1c77c3ff;
--cerulean-crayola: #39a9dbff;
--maximum-blue: #40bcd8ff;
--deep-saffron: #f39237ff;
--permanent-geranium-lake: #d63230ff; */

/* CSS HSL */
/* --spanish-blue: hsla(207, 75%, 44%, 1);
--cerulean-crayola: hsla(199, 69%, 54%, 1);
--maximum-blue: hsla(191, 66%, 55%, 1);
--deep-saffron: hsla(29, 89%, 58%, 1);
--permanent-geranium-lake: hsla(1, 67%, 51%, 1); */

/* SCSS HEX */
/* $spanish-blue: #1c77c3ff;
$cerulean-crayola: #39a9dbff;
$maximum-blue: #40bcd8ff;
$deep-saffron: #f39237ff;
$permanent-geranium-lake: #d63230ff; */

/* SCSS HSL */
/* $spanish-blue: hsla(207, 75%, 44%, 1);
$cerulean-crayola: hsla(199, 69%, 54%, 1);
$maximum-blue: hsla(191, 66%, 55%, 1);
$deep-saffron: hsla(29, 89%, 58%, 1);
$permanent-geranium-lake: hsla(1, 67%, 51%, 1); */

/* SCSS RGB */
/* $spanish-blue: rgba(28, 119, 195, 1);
$cerulean-crayola: rgba(57, 169, 219, 1);
$maximum-blue: rgba(64, 188, 216, 1);
$deep-saffron: rgba(243, 146, 55, 1);
$permanent-geranium-lake: rgba(214, 50, 48, 1); */

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #1c77c3ff, #39a9dbff, #40bcd8ff, #f39237ff, #d63230ff);
$gradient-right: linear-gradient(90deg, #1c77c3ff, #39a9dbff, #40bcd8ff, #f39237ff, #d63230ff);
$gradient-bottom: linear-gradient(180deg, #1c77c3ff, #39a9dbff, #40bcd8ff, #f39237ff, #d63230ff);
$gradient-left: linear-gradient(270deg, #1c77c3ff, #39a9dbff, #40bcd8ff, #f39237ff, #d63230ff);
$gradient-top-right: linear-gradient(45deg, #1c77c3ff, #39a9dbff, #40bcd8ff, #f39237ff, #d63230ff);
$gradient-bottom-right: linear-gradient(135deg, #1c77c3ff, #39a9dbff, #40bcd8ff, #f39237ff, #d63230ff);
$gradient-top-left: linear-gradient(225deg, #1c77c3ff, #39a9dbff, #40bcd8ff, #f39237ff, #d63230ff);
$gradient-bottom-left: linear-gradient(315deg, #1c77c3ff, #39a9dbff, #40bcd8ff, #f39237ff, #d63230ff);
$gradient-radial: radial-gradient(#1c77c3ff, #39a9dbff, #40bcd8ff, #f39237ff, #d63230ff); */