.App {
  text-align: center;
}

body {
  background-image: url("https://www.allianz.de/gesundheit/hundekrankenversicherung/_jcr_content/root/stage/stageimage.img.60.3360.jpeg/1637922722599/hund-stock-wasser.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Admin.js */

.adminText {
  color: rgb(201, 236, 236);
}
.adminPadding {
  padding-top: 2vh;
}

.anmeldenPaddingBack {
  padding: 10rem;
  background-color:  rgba(39, 43, 54, 0.691);
}

.adminPadding {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.bearbeitenPadding {
  padding-bottom: 4vh;
}

.downPadding {
  padding-bottom: 3vh;
}

/*Navbar*/

.dropdown-menu {
  border-radius: 10vh, 10vh, 10vh, 10vh;
}

.navBack {
  background: rgba(115, 147, 252, 0.616);
}

.navText {
  color: azure;
}

.navText:hover {
  color: rgba(93, 130, 250, 0.692);
}

.passendNav {
  width: 14vh;
  max-height: 10vh;
  border-radius: 50%;
}

/* Home.js */

.carousel-inner {
  width: 100%;
  height: 100vh;
  background-size: auto;
}


/* Footer */

.footBack {
  background-color: rgb(39, 43, 54) !important;
}

.passendFoot {
  width: 19vh;
  max-height: 15vh;
  border-radius: 50%;
  margin-bottom: 2vh;
}

/* Tiervermittlung */

.cardAll {
  width: 18rem;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.cardTextBack {
  background-color: rgba(54, 60, 78, 0.616);
}

/* Button */

.marginButton {
  margin: 2rem;
}